/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background: rgb(26, 172, 160);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#message {
    transition: opacity 0.5s ease;
    opacity: 0;
    color: #4CAF50; /* Green color for success messages */
    margin-top: 20px;
    text-align: center;
}

